.placeForAllButtom{
    position: absolute;
    width: 350px;
    height: 450px;

    background: rgba(255, 255, 255, 0.75);
    border: 4px solid rgba(15, 186, 83, 0.85);
    box-sizing: border-box;
    border-radius: 0px 30px 30px 0px;

    margin-left:37%;
    margin-top: 7%;
}

.palceForAllDescribe{

    position: absolute;
    width: 350px;
    height: 450px;

    background: rgba(128, 211, 161, 0.75);
    border: 4px solid rgba(15, 186, 83, 0.85);
    box-sizing: border-box;
    border-radius: 30px  0px  0px 30px;

    margin-left:19%;
    margin-top: 7%;
}

.buttonForCustomer{
    position: absolute;
    width: 275px;
    height: 90px;

    background: rgba(15, 186, 83, 0.75);
    border: 2px solid rgba(15, 186, 83, 0.75);
    box-sizing: border-box;

    border-radius: 50px;
    margin-left:10%;
    margin-top: 40%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    padding-left: 20px;;
    padding-bottom: 30px;

    color: #FFFFFF;
}

.buttomForTravelAgency{
    position: absolute;
    width: 275px;
    height: 90px;

    background: rgba(15, 186, 83, 0.75);
    border: 2px solid rgba(15, 186, 83, 0.75);
    box-sizing: border-box;

    border-radius: 50px;
    margin-left:10%;
    margin-top: 70%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    padding-left: 20px;;
    padding-bottom: 30px;

    color: #FFFFFF;
}

.describeForCustomer{
    position: absolute;
    width: 170px;
    height: 90px;
    

    margin-top: 14.5%;
    margin-left: 39%;
    border-radius: 50px  0px  0px 50px;
    font-size: 0px;
    line-height: 0px;
}

.describeForCustomer:hover{
    position: absolute;
    width: 320px;
    height: 345px;
    
    margin-top: 7%;
    margin-left:19%;
    border-radius: 30px  0px  0px 30px;

    padding: 80px 20px 20px 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 45px;
    color: #044B29;

    
}

.describeForTravelAgency{
    position: absolute;
    width: 170px;
    height: 90px;

    margin-top: 19.7%;
    margin-left:39%;
    border-radius: 30px  0px  0px 30px;
    font-size: 0px;
    line-height: 0px;
}

.describeForTravelAgency:hover{
    position: absolute;
    width: 320px;
    height: 345px;
    
    margin-top: 7%;
    margin-left:19%;
    border-radius: 30px  0px  0px 30px;

    padding: 80px 20px 20px 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 45px;
    color: #044B29;
}

.signUpText{
    position: absolute;
    width: 293px;
    height: 49px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    padding-left: 6%;
    color: #0b9642;
    margin-top: 6%;
    text-shadow: 0px 4px 4px rgba(8, 17, 11, 0.2);
}

.decsribeUser{
    position: absolute;
    width: 293px;
    height: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    padding-left: 6%;
    margin-top: 6%;
    color: #044B29;

    text-shadow: 0px 4px 4px rgba(8, 17, 11, 0.2);
}

.mainBackground{
    position: absolute;
    width: 1920px;
    height: 1080px;

    background: url(images/choose_sign_up_island.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.radioCustomer{
    border: 1px solid red;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 41.5%;
    margin-left: 65.5%;
}

.radioTreval{
    border: 1px solid red;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 71.5%;
    margin-left: 65.5%;
}

.buttonSend{
    background: rgba(15, 186, 83, 0.75);
    border: 2px solid rgba(15, 186, 83, 0.75);
    color:#FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    border-radius: 40px;

    width: 180px;
    height: 60px;
    margin-top: 105%;
    margin-left: 24%;
}

.buttonSend:hover{
    background: rgba(15, 186, 83);
    border: 2px solid rgba(15, 186, 83);

}