body {
  background: url(http://localhost:8080/images/customer_img/to_evaluate_travel_agency_backgroundd.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Neucha, Roboto, Raleway;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-nav a {
  text-decoration: none;
}

.site-nav a li span {
  color: #fff;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

.site-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
  background: rgba(102, 255, 218, 0.8);
  border-radius: 20px;
  margin-top: -15px;
  margin-right: 30px;
}

.site-nav li:focus,
.site-nav li:active {
  background: #309ea1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 56px;
  border-radius: 20px;
  margin-top: -15px;
}

.main-nav {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 30px;
}

.main-nav li {
  margin-right: 10px;
}

.main-nav a:last-child {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 800px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #01fd66;
  border-radius: 40px;
  width: 506px;
  height: 368px;
}

.rating h2 {
  font-family: Neucha;
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0.07em;
  margin: 10px;
}

.rating-board {
  display: flex;
  flex-direction: row;
}

.rating input[type="submit"] {
  font-family: Neucha;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.1em;
  width: 141px;
  height: 66px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  margin-bottom: 40px;
}

.rating input[type="submit"]:active {
    background: #ffffff11;
}

.rating-board > input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  width: 80px;
  height: 80px;
  border: 0;
  background: #00ff66;
  margin-right: 16px;
  border-radius: 20px;
  margin: 0 10px;
}

.rating-board > input:focus {
    background: #00ff6699;
}
