<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Neucha&family=Piazzolla&family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet" />


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link th:href="@{../css/sign_up_customer_css.css}" rel="stylesheet"  />
  <title>Реєстрація</title>
</head>

<body>
  <div class="container">
    <form th:action="@{/free/customer-registration}" th:object="${customerForm}" method="post">
      <h1>Реєстрація</h1>
      <div class="box-info">
        <div>
          <label class="lable-info" >Ім'я</label>
          <input class="input-info" type="text" name="firstname"  th:field="*{firstname}"/>

          <label class="lable-info" >Прізвище</label>
          <input class="input-info" type="text" name="lastname" th:field="*{lastname}"/>
          <label class="lable-info" >Номер телефону</label>
          <input class="input-info" type="number" name="number" th:field="*{number}"/>
          <label class="lable-info" >Стать</label>

          <main class=" display:flex; justify-content: center;align-items: flex-direction: row;">
            <main class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="male" id="btnradio1" autocomplete="off" value="true" checked>
              <label class="btn btn-lg btn-outline-success size" for="btnradio1">Чоловік</label>

              <input type="radio" class="btn-check" name="male" id="btnradio2" autocomplete="on" value="false">
              <label class="btn btn-lg btn-outline-success size" for="btnradio2">Жінка</label>
            </main>
          </main>
        </div>
        <div>
          <label class="lable-info" >E-mail</label>
          <input class="input-info" type="email" name="email" th:field="*{email}"/>
          <label class="lable-info" >Логін</label>
          <input class="input-info" type="text" name="username" th:field="*{username}"/>
          <label class="lable-info" >Пароль</label>
          <input class="input-info" type="text" name="password" th:field="*{password}"/>
          <label class="lable-info" >Країна</label>
          <input list="browsers" class="input-info" type="text" name="country" id="fav" th:field="*{country}" />
          <datalist  name="country" id="browsers">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}">...</option>
          </datalist>

        </div>
      </div>
      <div >

        <ul style="margin-left: 50px;" th:if="${fields}">
          <li class="text-error" th:text="${fields.getAllErrors().get(0).getDefaultMessage()}" />
        </ul>
        <ul style="margin-left: 50px;" th:if="${hasCountry}">
          <li class="text-error" th:text="${hasCountry}" />
        </ul>
        <ul style="margin-left: 50px;" th:if="${userIsBooked}">
          <li class="text-error" th:text="${userIsBooked}" />
        </ul>
        <div class="submit-box">
          <input class="submit-button " type="submit" value="Підтвердити">
        </div>

      </div>

    </form>
  </div>
</body>

</html>