<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Neucha&family=Piazzolla&family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/sort_button/sortBlock.css}" />
  <link href="../../node_modules/normalize.css/normalize.css" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/travel_agency_style/show_tour_ads_for_agency.css}" />

  <title>Пошук</title>
</head>

<body>

  <main>
    <div class="container">
      <div class="name">
        <h2>Назва турагенції</h2>
        <div class="rating-mini">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class=""></span>
          <span class=""></span>
        </div>
      </div>
      <div class="main-content">
        <form class="search-filter">
          <div class="filter-header">
            <h2>ШУКАТИ ЗА</h2>
          </div>
          <div class="filter-inputs">
            <input name="country" type="text" placeholder="Назвою країни" />
            <input name="city" type="text" placeholder="Назвою міста" />
            <input name="location_city" type="text" placeholder="Назвою місця перебування" />

            <div class="item">
              <label>Ціною</label>
              <div class="item-input">
                <input placeholder="Початкова" type="number" name="tentacles" min="0" max="99999" />
                <input placeholder="Кінцева" type="number" name="tentacles" min="0" max="99999" />
              </div>
            </div>
            <div class="item">
              <label>Кількістю білетів</label>
              <div class="item-input">
                <input placeholder="Початкова" type="number" name="tentacles" min="0" max="99999" />
                <input placeholder="Кінцева" type="number" name="tentacles" min="0" max="99999" />
              </div>
            </div>
            <div class="item">
              <label>Кількість осіб для максимальної знижки</label>
              <div class="item-input">
                <input placeholder="Початкова" type="number"name="tentacles" min="0" max="99999" />
                <input placeholder="Кінцева" type="number"  name="tentacles" min="0" max="99999" />
              </div>
            </div>
            <div class="item">
              <label>Датою оформленя</label>
              <div class="item-input">
                <input type="datetime-local"  name="tentacles" />
                <input type="datetime-local"  name="tentacles" />
              </div>
            </div>
            <div class="item">
              <label>Датою роботи</label>
              <div class="item-input">
                <input type="datetime-local"  name="tentacles" />
                <input type="datetime-local" name="tentacles" />
              </div>
            </div>
            <div class="item">
              <label>Відсотком знижки</label>
              <div class="item-input">
                <input placeholder="Початкова" type="number"  name="tentacles" min="0" max="99999" />
                <input placeholder="Кінцева" type="number" name="tentacles" min="0" max="99999" />
              </div>
            </div>

          </div>
          <br>
          <div class="filter-button">
            <input type="submit" value="Пошук" />
          </div>
        </form>
        <div class="searched-content">
          <div class="content">
            <div class="bilets">
              <h2>Кількість білетів</h2>
              <p class="item_count-order">1</p>

            </div>
            <p class="hidden-text item_cost-tour-ad">Cost</p>
            <p class="hidden-text item_prosent">item_prosent</p>
            <p class="hidden-text item_number-of-people">item_number-of-people</p>
            <div class="info">
              <div>
                <table>
                  <tr class="first">
                    <td class="top-left">Ціна (за одну особу)</td>
                    <td>Відсоткова знижка</td>
                    <td class="top-right">
                      Кількість осіб для максимальної знижки
                    </td>
                  </tr>
                  <tr class="second">
                    <td class="bottom-left">100 грн</td>
                    <td>0.0 %</td>
                    <td class="bottom-right">3</td>
                  </tr>
                </table>
              </div>
              <div class="paragraphs">
                <div class="window-paragraph">
                  <h2>Країна</h2>
                  <p class="item_country-name">Україна</p>

                </div>
                <div class="window-paragraph">
                  <h2>Дата замовлення</h2>
                  <p class="item_date-registration">10.09.2022</p>
                </div>
                <div class="window-paragraph">
                  <h2>Місто</h2>
                  <p class="item_city-name">Харків</p>

                </div>
              </div>
            </div>
            <div class="info-2">
              <div class="paragraphs">
                <div class="window-paragraph">
                  <h2>Дата початку</h2>
                  <p class="item_start-date-tour-ad"> 11.11.2022</p>

                </div>
                <div class="window-paragraph">
                  <h2>Дата закінчення</h2>
                  <p class="item_end-date-tour-ad"> 12.12.2022</p>

                </div>
                <div class="window-paragraph">
                  <h2>Місце перебування</h2>
                  <p class="item_place-name"> Готель “Варшава”</p>


                </div>
              </div>
            </div>
            <div class="content-buttons">
              <input type="button" value="Переглянути замовлення" />
              <input type="button" value="Редагувати послугу" />
              <div class="window-paragraph">
                <h2>Стан</h2>
                <p class="item_state-tour-ad"> 123</p>
              </div>
            </div>
            <div><button class="close"></button></div>
          </div>

        </div>
        <div>
          <div id="SortBy" class="box-sort box-rigth">
            <div style="  display: flex;">
              <h6>Сортувати по:</h6>
            </div>

            <select id="selectSort" name="SortBy" class="box-filter">
              <option id="sortByDateRegistration">Даті реєстрації</option>
              <option id="sortByCountOrder">Кількості замовлень</option>
              <option id="sortByCostTourAd">Ціні</option>
              <option id="sortByProsent">Відсотку знижки</option>

              <option id="sortByNumberOfPeolpeMax">Кількості осіб</option>
              <option id="sortByCountryName">Країні</option>
              <option id="sortByCityName">Назві міста</option>
              <option id="sortByStartDateTourAd">Даті початку</option>

              <option id="sortByEndDateTourAd">Даті закінчення</option>
              <option id="sortByPlaceName">Назві місця</option>
              <option id="sortByStateTourAd">Стану</option>


            </select>

            <div>
              <button id="sortDescending" class="button-sort">\/</button>
              <button id="sortAscending" class="button-sort button-sort-used">/\</button>
            </div>
          </div>
          <br>
          <div class="user-buttons">

            <h2>Перегляд:</h2>
            <div>
              <input type="button" class="first-user-button" value="Послуг" onclick="change(third,fourth)" /><input
                type="button" class="second-user-button" value="Повідомлень" onclick="change(fourth,third)" />
            </div>
            <input type="button" class="editButton" value="Редагувати профіль" />
            <input type="button" class="messageButton" value="Написати Повідомлення" />
            <input type="button" class="createButton" value="Створити послугу" />
          </div>
        </div>

      </div>
    </div>
  </main>

  <script type="text/javascript" th:src="@{/js/sort_tour_ad_agency.js}"></script>
</body>

</html>