.main{
    position: absolute;
    width: 1600px;
    height: 900px;
    background: url(../images/backGroundHello/mainBackground_winter_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}