.main{
    position: absolute;
    width: 1600px;
    height: 900px;
    background: url(https://images.wallpaperscraft.ru/image/single/ozero_les_sneg_130421_1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}